Django==5.2.12
djangorestframework==3.17.0
django-cors-headers==4.9.0
whitenoise==6.7.0
gunicorn==22.0.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
requests==2.32.3
Pillow==10.4.0
python-dotenv==1.0.1
onnx==1.16.1
ml_dtypes==0.3.2
onnxruntime==1.20.1
insightface==0.7.3
